$block: '.action-box';
$image-width: 35%;
$box-margin: 2em;
#{$block} {
    margin: 0 auto;
    max-width: em(520);
    &__inner {
        margin-right: -3.7%;
    }
    &__box {
        max-height: em(200);
        border-top-left-radius: .5em;
        border-bottom-left-radius: .5em;
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
        background: $color-light-grey;
        color: $color-text;
        padding: em(29);
        position: relative;
        margin-bottom: 3rem;
        &__image {
            border-top-right-radius: .5em;
            border-bottom-right-radius: .5em;
            width: $image-width;
            max-width: em(230);
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            &--icon {
                width: 3.125em; //50px
                position: absolute;
                top: 1.25em; //20px;
                left: -1.5625em; //-25px;
                display: none;
            }
        }
        &__text {
            width: 100% - $image-width - 15%;
            height: 100%;
            position: relative;
            z-index: 2;
            &__wrapper {
                margin-bottom: .8em;
            }
            &__table {
                background: $color-light-grey;
                color: $color-text;
                width: 100%;
                &__td {
                    vertical-align: middle;
                    left: 16.25em;
                }
            }
            &__headline {
                @extend %h4;
                white-space: nowrap;
            }
            &__description {
                display: none;
                overflow: hidden;
                height: 5.5em / 4 * 3;
                margin-bottom: em(10);
                &__clamp {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
            &__button {
                @extend %arrow-link;
            }
        }
    }
    @include mq($from: screen-sm) {
        &__box {
            // height: 15em;
            &__image {
                &--icon {
                    display: block;
                }
            }
            &__text {
                &__description {
                    display: block;
                    &__table {
                        &__td {
                            // height: 4em;
                        }
                    }
                }
                &__headline {
                    white-space: normal;
                }
            }
        }
    }
    @include mq($from: screen-lg) {
        max-width: 100%;
        width: 100%;
        &__box {
            width: 30%;
            display: inline-block;
            margin-right: 3%;
        }
    }
    @include mq($from: screen-xxl) {
        &__box {
            height: 15em;
            &__image {
                &--icon {
                    display: block;
                }
            }
            &__text {
                &__description {
                    display: block;
                    &__table {
                        &__td {
                            height: 4em;
                        }
                    }
                }
                &__headline {
                    white-space: nowrap;
                }
            }
        }
    }
}
