$block: '.batchspray';
#{$block} {
    &__text {
        margin: 0 auto;
        text-align: center;
        &__title {
            @extend %h1;
        }
        &__subtitle {
            @extend %h2;
        }
    }
    &__images {
        margin-top: 2em;
        text-align: right;
        &__image {
            width: 100%;
            margin-bottom: 1em;
        }
    }
    @include mq($from: screen-sm) {
        &__images {
            &__image {
                display: inline;
                margin-left: 1em;
            }
        }
    }
    @include mq($from: screen-lg) {
        &__text {
            margin: 0;
            text-align: left;
            max-width: 50%;
            &__title {
                text-align: left;
            }
        }
        &__images {
            width: 50%;
            display: inline;
            &__image {
                width: 45%;
            }
        }
    }
    @include mq($from: screen-xxl) {
        &__images {
            &__image {
                margin-top: -2em;
                margin-left: 10em;
            }
        }
    }
}
