$block: '.batchspray';
#{$block} {
    &__text {
        margin: 0 auto;
        text-align: center;
        max-width: 80%;
        &--title {
            @extend %h1-inner;
        }
        &--subtitle {
            @extend %h2;
        }
        p {
            @extend %h2-inner;
        }
    }
    &__images {
        margin-top: 2em;
        text-align: right;
        &--image {
            width: 100%;
            margin-bottom: 1em;
        }
    }
    @include mq($from: screen-sm) {
        &__images {
            &--image {
                display: inline;
                margin-left: 1em;
            }
        }
    }
    @include mq($from: screen-lg) {
        &__text {
            float: left;
            margin: 0;
            text-align: left;
            max-width: 50%;
            &--title {
                text-align: left;
            }
            p {
                margin-left: 0;
                margin-right: 0;
            }
        }
        &__images {
            width: 50%;
            display: inline;
            &--logo {
                position: absolute;
                top: 27em;
            }
            &--image {
                width: 45%;
            }
        }
    }
    @include mq($from: screen-xxl) {
        &__images {
            &--image {
                margin-top: -2em;
                margin-left: 10em;
            }
        }
    }
}
