$block: '.batchspray';
#{$block} {
    &__text {
        text-align: left;
        &__title {
            @extend %h1;
            color: $brand-primary;
        }
        &__subtitle {
            @extend %h2;
            color: $color-grey;
        }
        &__description {
            @extend %text-base;
        }
        &__footer {
            max-width: 30em;
        }
        &__logo {
            padding-top: 3em;
        }
    }
    &__images {
        transition: all 3s;
        &:hover {
            transform: scale(1.05);
        }
        max-width: 25em;
        margin: 2em auto 0;
        text-align: right;
        &__image {
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
    @include mq($from: screen-xs) {
        @include clearfix;
        &__text {
            width: 40%;
            float: left;
            &__logolink {
                max-width: 20em;
            }
        }
        &__images {
            width: 60%;
            float: right;
            padding-left: 2em;
            max-width: 60em;
            margin-right: 0;
            &__logo {
                padding-top: 2em;
            }
        }
    }
}
