$block: '.corp-info';
#{$block} {
    margin-top: 110px;
    &__info {
        &__image {
            float: right;
            margin-right: 20px;
        }
        &__text {
            &__headline {
                color: $brand-primary;
                font-size: em(40);
            }
            &__subheadline {
                color: $color-text-grey;
                font-size: em(30);
            }
            &__description {
                max-width: 650px;
            }
        }
    }
    @include mq($until: screen-xl) {
        &__info {
            &__image {
                float: none;
                margin-bottom: 20px;
                float: left;
            }
            &__text {
                position: absolute;
                top: 350px;
                &__headline {}
                &__subheadline {}
                &__description {}
            }
        }
    }
    @include mq($until: screen-sm) {
        &__info {
            &__image {
                width: 27%;
                margin: 20 auto;
                margin-bottom: 10px;
            }
            &__text {
                &__headline {}
                &__subheadline {}
                &__description {}
            }
        }
    }
    @include mq($until: screen-xl) {
        margin-bottom: 10px;
        &__info {
            &__image {}
            &__text {
                &__headline {}
                &__subheadline {}
                &__description {}
            }
        }
    }
}
