$block: '.core-values';
$info-padding: 1%;
#{$block} {
    &__info {
        text-align: center;
        margin-bottom: 4em;
        &__image {
            margin-top: 1em;
        }
        p {
            margin: 0 auto;
            max-width: 80%;
        }
    }
    @include mq($from: screen-sm) {
        @include clearfix;
        margin-left: -$info-padding;
        margin-right: -$info-padding;
        &__info {
            text-align: left;
            width: 33.3333% - 2 * $info-padding;
            margin-left: $info-padding;
            margin-right: $info-padding;
            float: left;
            &__text {
                &--title {
                    margin-top: 3em;
                }
            }
        }
        p {
            margin-left: 0;
        }
    }
}
