$block: '.corp-info';
#{$block} {
    &__text {
        text-align: center;
        &__title {
            @extend %h1;
        }
        &__subtitle {
            @extend %h2;
        }
        &__description {
            @extend %text-base;
            margin-bottom: 1.8em;
        }
    }
    &__images {
        margin: 0 auto;
        text-align: center;
        &__image {
            border-radius: .5em;
            margin-bottom: 1em;
        }
    }
    @include mq($from: screen-sm) {
        &__images {
            &__image {
                display: inline;
                margin-left: 1em;
            }
        }
    }
    @include mq($from: screen-lg) {
        &__text {
            float: left;
            margin: 0;
            text-align: left;
            max-width: 50%;
            &__title {
                text-align: left;
            }
            &__description {
                max-width: 45em;
                margin-left: 0;
                margin-right: 0;
                width: 80%;
            }
        }
        &__images {
            margin-top: 1em;
            width: 50%;
            float: left;
            text-align: right;
            &__image {
                width: 30%;
                display: inline;
                margin-left: .5em;
            }
        }
    }
}
