$block: '.corp-info';
#{$block} {
    width: 100% &--text {
        float: left;
    }
    &--img {
        float: right;
        margin-left: 1.5em;
    }
    @include mq($until: screen-lg) {
        &--text {
            width: 100%;
            display: block;
            float: none;
            clear: both;
            text-align: center;
        }
        &--img {
            width: 100%;
            display: inline;
            float: none;
            clear: both;
        }
    }
    // @include mq($until: screen-sm) {
    //     &__info {
    //         &__image {
    //             width: 27%;
    //             margin: 20 auto;
    //             margin-bottom: 10px;
    //         }
    //         &__text {
    //             &__headline {}
    //             &__subheadline {}
    //             &__description {}
    //         }
    //     }
    // }
}
