$block: '.core-values';
$info-padding: 1%;
#{$block} {
    &__info {
        padding-bottom: 4em;
        text-align: left;
        &__image {
            padding-bottom: 1em;
        }
        &__text {
            padding-right: 1em;
            &__title {
                @extend %h4-alt;
            }
            &__description {
                @extend %text-base;
                margin: 0;
            }
        }
    }
    @include mq($from: screen-sm) {
        @include clearfix;
        margin-left: -$info-padding;
        margin-right: -$info-padding;
        &__info {
            text-align: left;
            width: 33.3333% - 2 * $info-padding;
            margin-left: $info-padding;
            margin-right: $info-padding;
            float: left;
            &__text {
                &__title {
                    // margin-top: 3em;
                }
            }
        }
        &__description {
            margin-left: 0;
        }
    }
}
