$block: '.customer-review';
#{$block} {
    position: relative;
    width: 100%;
    height: auto;
    &__content {
        width: 100%;
        height: auto;
        position: relative;
        &__title {
            @extend %h1;
            color: $color-white;
        }
        &__description {
            @extend %h2;
            max-width: 30em;
            font-weight: normal;
            color: $color-white;
            padding-top: 1em;
        }
        &__signature {
            @extend %h2;
            color: $color-white;
        }
        &--whitebox-top {
            background: $color-white;
            height: 3em;
            width: 100%;
            margin-bottom: -1.3em;
            z-index: 1;
        }
        &--whitebox-bottom {
            background: $color-white;
            height: 3em;
            width: 100%;
            margin-top: -2em;
        }
        &--left {
            padding-top: 10em;
            padding-bottom: 3em;
            color: $color-white;
        }
        &__images {
            &__image {
                float: left;
                width: 72%;
                height: auto;
                border-radius: .5em;
                margin-right: 1%;
            }
            &__smallimg {
                display: block;
                width: 23.2%;
                height: auto;
                border-radius: .5em;
                margin-bottom: 1.2%;
            }
        }
    }
    @include clearfix;
    @include mq($from: screen-sm) {
        &__content {
            width: 50%;
            float: left;
            p {
                width: 85%;
            }
            &--left {
                h2 {
                    max-width: 70%;
                }
            }
            &--right {
                float: right;
            }
            &__image-container {
                position: absolute;
                padding-bottom: 70.33333%;
                height: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
        }
    }
    @include mq($from: $screen-xl - 100px) {
        &__content {
            &__image-container {
                margin: 0;
                position: relative;
            }
        }
    }
}
