    $block: '.customers-teaser';
    #{$block} {
        &__inner {
            &--title {
                margin-bottom: 0.2em;
            }
            &--subtitle {
                margin-bottom: 1em;
                @extend %h2;
                text-align: center;
            }
            &__textbox {
                @extend %h2-inner;
                margin: 0;
                display: inline;
                &__left {
                    padding: 0.5em;
                    float: left;
                    width: 50%;
                    text-align: left;
                }
                &__right {
                    padding: 0.5em;
                    float: left;
                    width: 50%;
                    text-align: left;
                }
            }
        }
    }
