$block: ".customer-review";
#{$block} {
    position: relative;
    width: 100%;
    height: auto;
    &__content {
        &--whitebox-top {
            background: white;
            height: 3em;
            width: 100% !important;
            margin-bottom: -1.3em;
            z-index: 1;
        }
        &--whitebox-bottom {
            background: white;
            height: 3em;
            width: 100% !important;
            margin-top: -2em;
        }
        width: 100%;
        height: auto;
        position: relative;
        &--left {
            padding-top: 4em;
            padding-bottom: 3em;
            color: $color-white;
            h2 {
                @extend %h1-inner;
                margin: 0;
                padding-bottom: 1em;
                text-align: left;
                max-width: 100%;
            }
            p {
                padding-bottom: 1em;
            }
            h3 {
                font-size: 1.5em;
                margin-top: .25em;
            }
        }
        &--right {}
        &__images {
            &--big {}
            &__image {
                float: left;
                width: 72%;
                height: auto;
                border-radius: .5em;
                margin-right: 1%;
            }
            &__smallimg {
                display: block;
                width: 23.2%;
                height: auto;
                border-radius: .5em;
                margin-bottom: 1.2%;
            }
        }
    }
    @include clearfix;
    @include mq($from: screen-sm) {
        &__content {
            width: 50%;
            float: left;
            p {
                width: 85%;
            }
            &--left {
                h2 {
                    max-width: 70%;
                }
            }
            &--right {
                float: right;
            }
            &__image-container {
                position: absolute;
                padding-bottom: 70.33333%;
                height: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
        }
    }
    @include mq($from: $screen-xl - 100px) {
        &__content {
            &__image-container {
                margin: 0;
                position: relative;
                margin: 0;
            }
        }
    }
}
