$block: '.download';
#{$block} {
    &__wrapper {
        width: 100%;
        text-align: center;
        .h2 {
            @extend %h1;
            font-size: em(48);
            margin: 0;
        }
        .h3 {
            @extend %h2;
            font-family: $font-normal;
            margin-bottom: em(40);
        }
    }
    &__content {
        width: 100%;
        max-width: em(800);
        height: auto;
        margin: 0 auto;
    }
    &__list {
        &__elem {
            width: 100%;
            height: auto;
            display: inline-block;
            margin: em(8) 0;
            background-color: $brand-primary;
            padding: em(24);
            border-radius: em(8);
            text-align: left;
            @include clearfix;
            &__content {
                float: left;
                width: 50%;
                &--info {
                    color: $color-white;
                    .h2 {
                        font-size: em(20);
                        font-weight: 600;
                        margin-bottom: em(5);
                        color: $color-white;
                    }
                    p {
                        font-size: em(16);
                        margin-bottom: 0;
                    }
                }
                &--link {
                    text-align: right;
                    .btn {
                        float: right;
                    }
                }
            }
        }
    }
}
