$block: '.download';
#{$block} {
    &__wrapper {
        width: 100%;
        text-align: center;
    }
    &__content {
        width: 100%;
        max-width: em(800);
        height: auto;
        margin: em(40) auto 0;
    }
    &__list {
        &__elem {
            width: 100%;
            height: auto;
            display: inline-block;
            margin: em(8) 0;
            background-color: $brand-primary;
            padding: em(24);
            border-radius: em(8);
            text-align: left;
            transition: background-color .3s;
            @include clearfix;
            &:hover {
                background-color: $brand-primary + 10%;
                .btn {
                    background: $brand-primary;
                    border: em(2) solid $color-white;
                    color: $color-white;
                    &::before {
                        color: $color-white;
                    }
                }
            }
            &__content {
                float: left;
                width: 50%;
                &--info {
                    color: $color-white;
                }
                &__headline {
                    color: $color-white;
                }
                &--link {
                    text-align: right;
                    .btn {
                        float: right;
                    }
                }
            }
        }
    }
    @include mq($until: screen-xs) {
        &__list {
            &__elem {
                &__content {
                    padding-top: 1em;
                    float: none;
                    width: 100%;
                    text-align: center;
                    &--link {
                        text-align: center;
                        .btn {
                            float: none;
                        }
                    }
                }
            }
        }
    }
}