    $block: '.environment';
    #{$block} {
        &__image {
            padding-bottom: 41.6666%;
            margin-bottom: 2em;
            position: relative;
        }
        &__box {
            &__text {
                text-align: center;
                padding: 0 0.5em;
                &__description {
                    max-width: 80%;
                    margin: 0 auto;
                    overflow: hidden;
                    height: 100%;
                    &__clamp {
                        display: -webkit-box;
                        -webkit-line-clamp: 100;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        @include mq($from: screen-lg) {
            &__box {
                background: red;
                max-width: 33%;
                border-radius: 0.5em;
                &__text {
                    padding: 2em;
                    &__title {
                        text-align: left;
                    }
                    &__subtitle {
                        text-align: left;
                    }
                    &__description {
                        text-align: left;
                        margin-left: 0;
                        &__clamp {}
                    }
                }
            }
        }
    }
