    $block: '.environment';
    #{$block} {
        &__image {
            padding-bottom: 40%;
        }
        &__box {
            border-radius: 5px;
            width: 33%;
            float: right;
            margin-top: -28.5rem;
            margin-right: 5rem;
            background: $color-white;
            &__text {
                padding: 2rem;
                &__description {
                    overflow: hidden;
                    height: 15em / 4 * 3;
                    margin-bottom: 30px;
                    &__clamp {
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        @include mq($until: screen-xl) {
            &__box {
                width: 40%;
                margin-top: -24rem;
                margin-right: 5rem;
                background: $color-white;
                &__text {
                    padding: 2rem;
                    &__description {
                        overflow: hidden;
                        height: 15em / 4 * 3;
                        margin-bottom: 30px;
                        &__clamp {
                            display: -webkit-box;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
        @include mq($until: screen-lg) {
            text-align: center;
            &__box {
                width: 100%;
                margin-top: 0;
                margin-right: 0;
                &__text {
                    &__description {
                        overflow: hidden;
                        height: 100%;
                        margin-bottom: 30px;
                        &__clamp {
                            display: -webkit-box;
                            -webkit-line-clamp: 100;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
    }
