$block: '.evolution-teaser';
#{$block} {
    &__inner {
        text-align: center;
        margin: 0 auto;
        &__textbox {}
    }
    @include mq($until: screen-md) {
        &__inner {
            &__textbox {
                h3 {
                    width: 100%;
                }
            }
        }
    }
}
