$block: '.headquarters';
#{$block} {
    &__headline {
        @extend %h1;
    }
    &__locations {
        &__location {
            text-align: left;
            margin-top: 3em;
            &__headline {
                @extend %h4;
            }
            &__text {
                @extend %text-base;
            }
        }
    }
    @include mq($from: screen-sm) {
        &__locations {
            &__location {
                float: left;
                width: 50%;
                text-align: left;
            }
        }
    }
    @include mq($from: screen-md) {
        &__locations {
            &__location {
                float: left;
                width: 33.3333%;
            }
        }
    }
}
