$block: '.images-section';
#{$block} {
    &__images {
        &__left,
        &__right {
            &__img {
                text-align: center;
                padding-left: em(10);
                padding-bottom: em(10);
                img {
                    border-radius: em(5);
                    width: 80%;
                    max-width: 20em;
                }
            }
        }
    }
    @include mq($from: screen-sm) {
        &__images {
            display: table;
            width: 100%;
            &__left {
                display: table-cell;
                width: 33.3333%;
                vertical-align: top;
                &__img {
                    img {
                        width: 97.75%;
                        max-width: 32em;
                    }
                }
            }
            &__right {
                display: table-cell;
                width: 66.6666%;
                &__img {
                    display: inline;
                    img {
                        width: 48.25%;
                        max-width: 32em;
                    }
                }
            }
        }
    }
}