$block: '.intro';
#{$block} {
	&--left {
		text-align: left;
	}
	&--center {
		text-align: center
	}
	&--font-big {
		#{$block}__headline {
			@extend %h1;
		}
	}
	&--font-medium {
		#{$block}__headline {
			@extend %h3;
		}
	}
	p {
		@extend %text-base;
	}

}