$block: '.membership';

#{$block} {
  max-width: em(850);
  margin: 0 auto em(50);
  text-align: center;

  &__inner {
    &__title {
      @extend %h1;
    }
  }
  &__logo-container {
    @include clearfix;
    max-width: em(1150);
    margin:  0 auto;
  }

  &__logos {
    position: relative;
    display: block;
    width: 50%;
    float: left;
    margin: 0;
    padding: em(15);
    &__outer-container {
        overflow: hidden;
        position: relative;
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
    }
    &__container {
        @include clearfix;
    }
    &__pusher {
        padding-bottom: 67.5676%;
        position: relative;
        p {
            margin: 0;
        }
    }
    img {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 100%;
        height: auto;
    }
    @include mq($from: 640px) {
        width: 25%;
    }
    @include mq($from: screen-lg) {
        width: 25%;
        img {
          max-width: em(300);
          max-height: em(300);
        }
    }
  }
}
