$block: '.product-teaser';
#{$block} {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    &__inner {
        text-align: center;
        &--title {
            @extend %h1-inner;
            width: 49%;
            margin: 0 auto;
            margin-bottom: 0.3em;
        }
        &--description {
            @extend %h2-inner;
        }
    }
    @include mq($until: $screen-xs - 100) {
        &--button {
            font-size: 1em;
        }
    }
    @include mq($until: screen-xs) {
        &__inner {
            &--title {
                width: 100%;
            }
        }
    }
    @include mq($from: screen-md) {
        .btn--icon-text {
            font-size: 0.75em;
        }
    }
}
