$block: '.products-overview';
#{$block} {
    margin: 0 auto em(50);
    text-align: center;
    &__text {
        &__title {
            @extend %h1;
            max-width: em(300);
            margin-left: auto;
            margin-right: auto;
        }
        &__subtitle {
            @extend %h2;
        }
        &__text {
            @extend %text-base;
            max-width: em(650);
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__listing {
        &__elem {
            width: 33.333%;
            padding: 0 em(5);
            float: left;
        }
        &__content {
            overflow: hidden;
            display: block;
            &__image {
                width: 100%;
                padding-bottom: 81.22%;
                transition: all 1s;
                &:hover {
                    transform: scale(1.1);
                }
            }
            &__info {
                display: block;
                background-color: $color-product-grey;
                padding: rem(111) rem(68);
                transition: background .3s;
                border-radius: .5em;
                &:hover {
                    background: $color-product-grey - 10%;
                }
                &__logo {
                    margin-bottom: em(15);
                    img {
                        width: 100%;
                        max-width: em(280);
                    }
                }
                &__description {
                    @extend %text-base;
                    margin-bottom: em(40);
                    max-width: em(456);
                    min-height: em(120);
                }
            }
        }
    }
    @include mq($until: 640px) {
        &__listing {
            &__elem {
                width: 100%;
                margin: em(5) 0;
            }
        }
    }
    @include mq($from: 641px, $until: 1024px) {
        &__listing {
            &__elem {
                width: 100%;
                margin: em(5) 0;
            }
            &__content {
                &__all {
                    width: 50%;
                    float: left;
                }
                &__image {
                    padding-bottom: 40%;
                }
            }
        }
    }
}
