$block: '.product-links';
$block-padding: 2%;
#{$block} {
    &__link {
        display: table;
        width: 100%;
        margin-bottom: em(30);
        &__image,
        &__text {
            display: table-cell;
            vertical-align: middle;
        }
        &__image {
            width: 25%;
            min-width: em(190);
            padding-right: em(20);
            &__img {
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }
        &__text {
            &__logo {
                max-width: 100%;
                width: auto;
                height: auto;
                margin-bottom: em(12);
            }
            &__text {
                @extend %text-base;
                display: none;
            }
        }
    }
    @include mq($from: screen-xs) {
        &__link {
            &__image, &__text {
                vertical-align: top;
            }
            &__text {
                &__logo {
                    margin-top: em(30);
                }
                &__text {
                    display: block;
                }
            }
        }
    }
    @include mq($from: screen-lg) {
        margin-left: -$block-padding;
        margin-right: -$block-padding;
        &__link {
            width: 33.3333% - 2 * $block-padding;
            margin-left: $block-padding;
            margin-right: $block-padding;
            float: left;
            &__text {
                &__logo {

                }
            }
        }
    }
}
