$block: '.product-links';
#{$block} {
    text-align: center;
    &__content {
        margin: 0 auto;
        display: table;
        &__image {
            display: table-cell;
            &--batch {
                width: 65%;
            }
            &--logo {
                margin-bottom: 4em;
            }
            &__text {
                @extend %text-base;
                padding: .5em;
                overflow: hidden;
                height: 12em;
                display: none;
                &__clamp {
                    display: -webkit-box;
                    -webkit-line-clamp: 100;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    @include mq($from: screen-sm) {
        &__content {
            width: 100%;
            &__image {
                &--logogroup {
                    margin: 0 auto;
                    width: 60%;
                }
                &--logo {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                }
                &__text {
                    overflow: hidden;
                    display: block;
                    text-align: left;
                    &__clamp {
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
    @include mq($from: screen-md) {
        &__content {
            width: 30%;
            display: inline-block;
            &__image {
                &--logogroup {}
                &--batch {
                    width: 90%;
                }
                &--logo {
                    display: block;
                    text-align: center;
                    margin: 0;
                }
                &__text {
                    &__clamp {
                        display: -webkit-box;
                        -webkit-line-clamp: 10;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}

// .section--product-link {
//     margin: 8.25rem 0 14.25rem 0;
// }
