$block: '.product-teaser';
#{$block} {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include mq($from: screen-sm) {
        &__inner {
            &--title {
                display: inline-block;
                width: 40em;
            }
            &--description {
                .pagetext {
                    font-size: 1em;
                    width: 40em;
                    margin: 0 auto 20px auto;
                }
            }
        }
    }
}

.section--product-teaser {
    margin: 1.25rem 0 8.25rem 0;
}
