    $block: '.product-teaser';
    #{$block} {
        width: 95%;
        margin: 0 auto;
        text-align: center;
        &__inner {
            text-align: center;
            &--title {
                @extend %h1;
                font-size: em(10.4);
                display: inline-block;
            }
            // &--description {
            //     @extend %h2;
            //     font-size: em(15);
            // }
        }
    }
    
    .section--product-teaser {
        margin: 1.25rem 0 2.5rem 0;
    }
