$block: '.product-links';
#{$block} {
    &__content {
        float: left;
        width: 33%;
        margin-top: 100px;
        &__image {
            height: 200px;
            width: 200px;
            float: left;
            &__text {
            	color: green;
            }
        }
    }
}
