$block: ".research-teaser";
#{$block} {
    position: relative;
    width: 100%;
    height: auto;
    &__content {
        width: 100%;
        height: auto;
        position: relative;
        &--left {
            background: red;
            padding-top: 3em;
            color: $color-white;
            h2 {
                @extend %h1-inner;
                margin: 0;
                padding-bottom: 1em;
            }
            p {
                padding-bottom: 1em;
            }
            .btn {}
        }
        &--right {
            background: green;
        }
        &__images {
            &--big {}
            &__image {
                margin-top: scut-em(15);
                width: 70%;
                height: auto;
                border-radius: 0.5em;
            }
            &__icon {
                margin-top: scut-em(15);
                width: 10%;
                height: auto;
                border-radius: 0.5em;
                position: absolute;
                left: 0.5em;
                top: 0.5em;
            }
            &__smallimg {
                background: blue;
                display: block;
                margin-top: scut-em(15);
                width: 20%;
                height: auto;
                border-radius: 0.5em;
            }
        }
    }
    @include clearfix;
    // @include mq($from: screen-sm) {
    //     &__content {
    //         width: 50%;
    //         float: left;
    //         p {
    //             width: 85%;
    //         }
    //         &__image {
    //             height: 144%;
    //             width: 100%;
    //             position: absolute;
    //             right: 0;
    //             top: -22%;
    //             max-width: 100%;
    //         }
    //         &--left {
    //             max-width: 160px;
    //         }
    //         &--right {
    //             float: right;
    //             images {
    //                 position: absolute;
    //                 max-width: 100%;
    //                 bottom: 0;
    //                 top: 0;
    //                 margin: auto 0;
    //             }
    //         }
    //     }
    // }
}
