$block: '.research-teaser';
#{$block} {
    margin-bottom: em(350);
    &__content {
        background: $brand-primary;
        height: em(590);
        &__text {
            @extend %section-content;
            color: $color-white;
            position: absolute;
            top: 160px;
            h1 {
                margin-bottom: 65px;
            }
            h2 {
                margin-bottom: 30px;
            }
        }
        &__images {
            position: relative;
            &--big {
                position: absolute;
                border-radius: 15px;
                right: 25%;
                top: 0;
                &__inner {
                    border-radius: 15px;
                    margin-top: -10px;
                }
            }
            &--small {
                border-radius: 10px;
                position: absolute;
                width: 13.333%;
                right: 9%;
                top: -11px;
                display: block;
                &__inner {
                    border-radius: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
