$block: '.research-teaser';
#{$block} {
    position: relative;
    width: 100%;
    height: auto;
    &__content {
        width: 100%;
        height: auto;
        position: relative;
        &--left {
            padding-top: 4em;
            padding-bottom: 3em;
            color: $color-white;
            h2 {
                @extend %heidi-headline;
            }
            p {
                @extend %heidi-subline;
            }
        }
        &__images {
            &__image {
                float: left;
                width: 72%;
                height: auto;
                border-radius: .5em;
                margin-right: 1%;
            }
            &__icon {
                margin-top: scut-em(15);
                width: 4.25em;
                height: auto;
                border-radius: .5em;
                position: absolute;
                left: .5em;
                top: -.5em;
            }
            &__smallimg {
                display: block;
                width: 23.2%;
                height: auto;
                border-radius: .5em;
                margin-bottom: 1.2%;
            }
        }
    }
    &__whitebox-top {
        display: none;
        background: $color-white;
        height: 3em;
        width: 100%;
        margin-bottom: -1.3em;
        z-index: 1;
    }
    &__whitebox-bottom {
        background: $color-white;
        height: 3em;
        width: 100%;
        margin-top: -1.5em;
    }
    @include clearfix;
    @include mq($from: screen-sm) {
        padding-bottom: 6em;
        &__content {
            width: 50%;
            float: left;
            &--right {
                float: right;
            }
            &__image-container {
                position: absolute;
                padding-bottom: 70.33333%;
                height: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
        }
    }
    @include mq($from: screen-md) {
        &__whitebox-bottom {
            display: none;
        }
        &__content {
            &--right {
                &__image-container {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .btn--icon-text {
            font-size: .75em;
        }
    }
    @include mq($from: screen-lg) {
        padding-bottom: 0;
    }
    @include mq($from: screen-xl) {
        &__whitebox-bottom {
            display: inline;
        }
        &__content {
            &__image-container {
                position: relative;
                width: 105%;
                padding-bottom: 0;
                margin-top: -1.2em;
            }
            &__images {
                &__icon {
                    margin-top: scut-em(15);
                    width: 6.25em;
                    height: auto;
                    border-radius: .5em;
                    position: absolute;
                    left: 1em;
                    top: .2em;
                }
            }
        }
    }
}
