    $block: '.technology-boxes';
    #{$block} {
        float: left;
        width: 20%;
        padding: 0 em(30);
        &__inner {
            &__image {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                height: 0px;
                padding-bottom: 100%;
            }
            &__text {
                text-align: center;
                background: $color-light-grey;
                padding-top: em(30);
                height: em(250);
                h2 {}
                &--description {
                    h3 {
                        width: 80%;
                        overflow: hidden;
                        height: 7.3em;
                        &__clamp {
                            display: -webkit-box;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
        @include mq($until: screen-lg) {
            clear: both;
            width: 100%;
            padding: 0 em(30);
            &__inner {
                &__image {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    height: 0;
                    padding-bottom: 100%;
                }
                &__text {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    text-align: center;
                    background: $color-light-grey;
                    padding-top: em(30);
                    height: em(250);
                    h2 {
                        font-size: 1.1em;
                    }
                    &--description {
                        h3 {
                            width: 80%;
                            overflow: hidden;
                            height: 7.3em;
                            &__clamp {
                                display: -webkit-box;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .technology-boxes__inner__text {
        height: 250px;
        -webkit-transition: height 0s;
        -moz-transition: height 0s ease-in-out;
        transition: height 0s;
        margin-bottom: em(40);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        .link {
            display: none;
            margin-top: 40px;
            background: $brand-primary;
            height: 50px;
            padding-top: 10px;
            border-top-left-radius: 0px;
            border-top-left-radius: 0px;
        }
    }
    
    html.no-touchevents & {
        background: yellow;
        .technology-boxes__inner__text:hover {
            height: 260px;
            color: white;
            background: $color-text;
            .link {
                display: block;
                margin-top: 40px;
                background: orange;
                height: 50px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
    }
