$block: '.technology-teaser';
#{$block} {
    max-width: em(850);
    margin: 0 auto em(50);
    text-align: center;
    &__inner {
        &__title {
            @extend %h1;
        }
        &__subtitle {
            @extend %h2;
        }
        &__description {
            @extend %text-base;
            max-width: em(650);
            margin-left: auto;
            margin-right: auto;
        }
    }
}

$block: '.technology-teaser__boxes';
$box-padding: 1%;
#{$block} {
    text-align: center;
    margin-right: -$box-padding;
    margin-left: -$box-padding;
    &__box {
        width: 31% - 2 * $box-padding;
        margin-right: $box-padding;
        margin-left: $box-padding;
        max-width: em(300);
        display: inline-block;
        margin-bottom: em(20);
        vertical-align: top;
        border-radius: .5em;
        overflow: hidden;
        background: $color-light-grey;
        &__image {
            height: 0;
            padding-bottom: 100%;
        }
        &__text {
            padding: em(30) 0 0;
            &__title {
                @extend %h4;
            }
            &__description {
                @extend %text-base;
                display: none;
            padding: em(30) 8% em(20);
            }
            &__link {
                margin-top: 1em;
                visibility: hidden;
                opacity: 0;
                display: none;
                background: $brand-primary;
                color: $color-white;
                width: 100%;
                height: 3em;
                transition: visibility 0s .2s, opacity .2s;
            }
        }
    }
    @include mq($from: screen-xs) {
        &__box {
            &__text {
                &__description {
                    display: block;
                }
            }
        }
    }
    @include mq($from: screen-md) {
        &__box {
            width: 19% - 2 * $box-padding;
            &__text__link {
                display: block;
            }
            &:hover {
                transition: background .3s;
                background: $color-text;
                color: $color-white;
                #{$block}__box__text__link {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s, opacity .2s;
                }
            }
        }
    }
}
