$block: '.technology-teaser';
#{$block} {
    &__inner {
        text-align: center;
        &__title {
            @extend %h1-inner;
        }
        &__description {
            @extend %h2-inner;
        }
    }
}

.section--technology-teaser {
    margin: 15.75rem 0 4.375rem 0;
}
