    $block: '.technology-boxes';
    #{$block} {
        width: 280px;
    }
    
    .techboxes {
        width: 280px;
        margin-left: 80px;
        .bg-image {
            width: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 220px;
            width: 280px;
            margin: 0 auto;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        &__text {
            color: $brand-primary;
            font-size: em(10);
            text-align: center;
            &--description {
                color: $color-text;
            }
        }
        width: 280px;
        margin-top: 80px;
        margin-bottom: 350px;
        float: left;
        background: $action-box-bg;
        height: 450px;
    }