$block: '.technology-boxes';
$box-padding: 1%;
#{$block} {
    text-align: center;
    margin-right: -$box-padding;
    margin-left: -$box-padding;
    &__box {
        width: 31% - 2 * $box-padding;
        margin-right: $box-padding;
        margin-left: $box-padding;
        max-width: em(300);
        display: inline-block;
        margin-bottom: em(20);
        vertical-align: top;
        border-radius: .5em;
        overflow: hidden;
        background: $color-light-grey;
        &__image {
            height: 0;
            padding-bottom: 100%;
        }
        &__text {
            padding: em(30) 8% em(20);
            &__title {
                @extend %h4;
            }
            &__description {
                @extend %text-base;
                display: none;
            }
            &__link {
                margin-top: 1em;
                visibility: hidden;
                opacity: 0;
                background: $brand-primary;
                color: #fff;
                transition: visibility 0s 0.2s, opacity 0.2s;
            }
        }
    }
    @include mq($from: screen-xs) {
        &__box {
            &__text {
                &__description {
                    display: block;
                }
            }
        }
    }
    @include mq($from: screen-md) {
        &__box {
            width: 19% - 2 * $box-padding;
            &:hover {
                transition: background .3s;
                background: $color-text;
                color: #fff;
                #{$block}__box__text__link {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s, opacity 0.2s;
                }
            }
        }
    }
}
