$block: '.terms';
#{$block} {
    &__arrow {
        @extend %arrow-link;
    }
    &__info {
        text-align: left;
        margin-bottom: 1em;
    }
    @include mq($from: screen-sm) {
        &__info {
            &__text {
                &__editor {
                    float: left;
                    width: 50%;
                }
            }
        }
    }
}
