$block: '.welcome-slider';
$image-height: 300px;
#{$block} {
    margin-top: 100px;
    &__slide {
        background: $brand-primary;
        padding-bottom: 34%;
        height: 0;
        position: relative;
        &__inner {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &__image {
            height: 100%;
            width: 70%;
            position: absolute;
            right: 0;
            z-index: 1;
        }
        &__text {
            @extend %section-content;
            height: 100%;
            position: relative;
            z-index: 2;
            &__table {
                background: $brand-primary;
                color: $color-white;
                width: em(420);
                display: table;
                height: 100%;
                padding-right: em(50);
                &__td {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    @include mq($until: screen-md) {
        &__slide {
            font-size: 0.75em;
            min-height: 160px;
            &__image {}
            &__text {
                &__table {
                    &__td {
                        &__button {}
                    }
                }
            }
        }
    }
    @include mq($until: screen-sm) {
        overflow: visible;
        height: 300px;
        &__slide {
            font-size: 0.65em;
            &__image {
                width: 100%;
            }
            &__text {
                padding: 0;
                text-align: center;
                &__table {
                    padding-top: 5rem;
                    width: 100%;
                    margin-top: $image-height;
                    &__td {
                        display: inline;
                        &__button {
                            text-align: center;
                            padding: 5px 10px;
                            left: 25px
                        }
                    }
                }
            }
        }
    }
}

.site-header--imposter {
    background: teal;
}
