$block: '.welcome-slider';
#{$block} {
    &__slide {
        background: $brand-primary;
        position: relative;
        color: $color-white;
        &__text {
            @extend %section-content;
            position: relative;
            z-index: 2;
            height: 100%;
            &__table {
                width: 100%;
                display: table;
                height: 100%;
                background: $brand-primary;
            }
            &__td {
                display: table-cell;
                vertical-align: middle;
                padding: 2em 0;
            }
            &__pretitle {
                @extend %pre-headline;
            }
            &__title {
                @extend %h1;
                max-width: em(220);
                color: $color-white;
            }
            &__description {
                @extend %intro-text;
                max-width: em(400);
            }
        }
        &__image {
            width: 100%;
            height: 0;
            padding-bottom: 50%;
        }
        @include mq($from: screen-sm) {
            height: 0;
            padding-bottom: 45%;
            &__inner {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            &__text {
                &__table {
                    width: 50%;
                    padding-right: em(50);
                    max-width: em(410);
                }
            }
            &__image {
                padding-bottom: 0;
                width: 70%;
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
            }
        }
        @include mq($from: screen-md) {
            padding-bottom: 40%;
            &__text {
                &__table {
                    width: 38%;
                }
            }
            &__image {
                width: 70%;
            }
        }
        @include mq($from: screen-xl) {
            height: em(600);
            max-height: 70vh;
            padding-bottom: 0;
            &__text {
                &__table {
                    width: 30%;
                }
            }
            &__image {
                width: 70%;
            }
        }
    }

    .owl-dots {
    margin: em(12) 0 em(20);
    text-align: center;
    @include mq($from: screen-sm) {
        display: none;
    }
}

.owl-dot {
    display: inline-block;
    font-size: em(18);
    width: 1em;
    height: 1em;
    margin: 0 em(4);
    border-radius: 50%;
    background-color: $color-light-grey;
    transition: background .2s;
    &.active,
    &:hover {
        background-color: $brand-primary;
    }
}

.owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: none;
    @include mq($from: screen-sm) {
        display: block;
    }
}

.owl-prev,
.owl-next {
    height: em(42);
    width: em(42);
    margin: auto 0;
    color: $color-white;
    position: absolute;
    right: .5em;
    top: 0;
    bottom: 0;
    background: $color-white;
    border-radius: em(5);
    .icon {
        font-size: em(12);
        position: absolute;
        width: 1em;
        height: 1em;
        line-height: 1;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        color: $color-text;
        transition: all .2s;
        &::before {
            @extend %icon;
        }
    }
}

.owl-prev {
    top: em(-47);
    .icon {
        @include icon(arrowleft);
    }
    &:hover {
        .icon {
            transform: translateX(-.3em);
        }
    }
}

.owl-next {
    top: em(47);
    .icon {
        @include icon(arrowright);
    }
    &:hover {
        .icon {
            transform: translateX(.3em);
        }
    }
}
}
