$block: '.welcome-slider';
$image-height: 300px;
#{$block} {
    &__slide {
        background: $brand-primary;
        padding-bottom: 2.8125em;
        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &__image {
                width: 100%;
                position: relative;
                height: 100%;
                padding-bottom: 47%;
                background-position: 0 -3.5em;
            }
            &__text {
                @extend %section-content;
                height: 100%;
                position: relative;
                z-index: 2;
                &__table {
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    background: $brand-primary;
                    color: $color-white;
                    width: 91%;
                    display: table;
                    height: 100%;
                    padding: 2em 0 1em 0;
                    text-align: left;
                    &__td {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    @include mq($from: screen-md) {
        &__slide {
            padding-bottom: 40% !important;
            &__inner {
                position: absolute;
                &__image {
                    height: 100%;
                    width: 70%;
                    position: absolute;
                    right: 0;
                    z-index: 1;
                    padding-bottom: 40%;
                    background-position: center center;
                }
                &__text {
                    float: left;
                    z-index: 2;
                    &__table {
                        position: absolute;
                        left: 0;
                        width: em(420);
                        padding: 2em 2em 0 em(50);
                        text-align: left;
                        padding-right: em(50);
                        &__td {
                            display: table-cell;
                            vertical-align: middle;
                            .h5 {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
    @include mq($from: screen-lg) {
        &__slide {
            padding-bottom: 34% !important;
            &__inner {
                &__image {
                    padding-bottom: 34%;
                }
            }
        }
    }
    @include mq($from: screen-xxl) {
        &__slide {
            &__inner {
                &__text {
                    width: 25%;
                }
            }
        }
    }
}

.section--welcome {
    margin-top: 6em;
}
