$block: '.contact-locations';
#{$block} {
	text-align: center;
	margin: em(180) 0 rem(60);

	&__table {
		max-width: em(1050);
		margin: em(100) auto em(200);
		@include clearfix;
	}

	&__wrapper {
		float: left;
		width: 33.3333%;
	}

	&__location {
		&__headline {
			@extend %h-pre;

		}
		&__subline {
			@extend %h-mini-bold;
		}

		&__text {
			line-height: 1.65;
		}
	}
	@include mq($until: 1000px) {
		&__wrapper {
			width: 49%;
			margin:0 auto;
			display: inline-block;
			float: none;
			margin-bottom: em(50);
		}
		&__table {
			margin-bottom: 5em;
		}
	}
	@include mq($until: screen-xs) {
		&__wrapper {
			width: 100%;
		}
	}
}