$base-color: #FABB00;
$icon-color: #ffffff;
$highlight-color: #FFFFFF;
$notification-color: #000000;

$menu-text: #464A4D;
$menu-submenu-text: #000000;
$menu-submenu-current-text: #000000;
$menu-submenu-focus-text: #FABB00;
$menu-submenu-background: #E9ECED;
$menu-highlight-text: #000000;
$menu-highlight-icon: #000000;
$form-checked: #000000;

$button-color: #000;

$link: #000;


@import "../../htdocs/wp-admin/css/colors/_admin.scss";
