.DS_STORE
.vagrant

*.env

/node_modules/
bower_components/

/htdocs/assets/
/htdocs/vendor/
/htdocs/temp/
/htdocs/cache/
/htdocs/wp-content/uploads/

/src/sass/common/_iconfont.scss

credentials.md
sftp-config.json
_misc/
debug.log
