$block: '.bg-image';
#{$block} {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &--contain {
        background-size: contain;
    }
    &--pattern {
        background-repeat: repeat;
        background-size: initial;
    }
}
