$block: '.btn';
#{$block} {
    width: 100%;
    min-width: em(200);
    padding: em(12) em(20);
    background-color: white;
    font-size: em(16);
    font-weight: 600;
    border-radius: em(8);
    position: relative;
    @include icon(arrowright, before);
    &:before {
        @extend %icon;
        position: absolute;
        left: em(20);
        top: em(19);
        transition: left 0.3s;
        font-size: em(14);
        color: $brand-primary;
    }
}