    $block: '.btn';
    #{$block} {
        &--icon-text {
            // margin-top: 30px;
            border-radius: 5px;
            font-weight: bold;
            background-color: $color-light-grey;
            color: $color-text;
            padding: 10px 20px;
            #{$block} {
                &__icon {
                    vertical-align: middle;
                    padding-right: em(8);
                    margin-top: em(5);
                    @include icon(arrowright) &:before {
                        @extend %icon;
                        margin-top: em(5);
                        &__primary {
                            color: $brand-primary;
                        }
                    }
                }
                &__text {
                    margin-top: 10px;
                }
            }
        }
        @include mq($until: screen-lg) {
            &--icon-text {
                white-space: nowrap;
                &__text {}
            }
        }
        @include mq($until: screen-xs) {
            &--icon-text {
                white-space: nowrap;
                &__text {
                    font-size: em(22);
                    margin-top: 20px;
                }
            }
        }
    }
