$block: ".footer";
#{$block} {
    &__inner {
        &--waveimage {
            z-index: 100;
            position: absolute;
            left: 0;
        }
        &__address {
            &__claim {
                color: $brand-primary;
                font-size: 1.3em;
                @extend %h1-inner;
            }
            &__list {
                @extend %h6-inner;
                :nth-child(6) {
                    height: em(20);
                }
            }
        }
    }
}

.section--footer {
    margin: 15rem 0 10em 0;
}
