// $block: ".footer";
// #{$block} {
//     &__inner {
//         &__address {
//             &__claim {
//                 color: $brand-primary;
//                 font-size: em(14);
//                 font-weight: bold;
//             }
//         }
//     }
// }
$block: ".footer";
#{$block} {
    &__inner {
        &__address {
            &__claim {
                color: $brand-primary;
                font-size: em(14);
                font-weight: bold;
            }
            &__list {
                font-family: $font-normal;
                font-size: em(12);
                font-weight: book;
                :nth-child(6) {
                    height: em(20);
                }
            }
        }
    }
    @include mq($until: screen-sm) {
        &__inner {
            &__address {
                &__claim {
                    font-size: em(22);
                    font-weight: bold;
                }
                &__list {
                    font-family: $font-normal;
                    font-size: em(20);
                    font-weight: book;
                    :nth-child(6) {
                        height: em(20);
                    }
                }
            }
        }
    }
}

.section--footer {
    margin: 6.25rem 0 7.25rem 0;
}
