$block: '.location-address';
#{$block} {
    display: block;
    color: #fff;
    &__group {
        margin-bottom: em(10);
    }
    &__headline {
        @extend %h3;
        color: #fff;
    }
    &__text {
        @extend %text-base;
    }
}
