$block: ".maps";
#{$block} {
    position: relative;
    &__map {
        height: em(500);
        width: 66.6666%;
    }
    &__infobox {
        background: grey;
        color: white;
        width: 33.3333%;
        height: 31.25em;
        top: 0;
        right: 0;
        position: absolute;
        &__inner {
            padding: em(90) 10% 0;
            &--address {
                h2 {
                    margin-left: 0;
                }
            }
            &--phone {
                h2 {
                    margin-left: 0;
                    white-space: pre-line;
                }
            }
            &--mail {
                h2 {
                    margin-left: 0;
                }
            }
        }
    }
    @include mq($until: screen-sm) {
        &__map {
            width: 100%;
        }
        &__infobox {
            position: relative;
            width: 100%;
            &__inner {
                width: 45em;
                &--headline {
                    font-size: 1.5em;
                }
                &--address {
                    h2 {
                        font-size: 1.5em;
                    }
                }
                &--phone {
                    h2 {
                        font-size: 1.5em;
                    }
                }
                &--mail {
                    h2 {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

.selectbox {
    width: 200px;
    height: 50px;
    margin-bottom: 3.5em;
}

.section__content--headline {
    padding-bottom: 3.5rem;
}

.section--maps {
    margin-top: 18.88rem;
    margin-bottom: 0.4rem;
}
