$block: ".maps";
#{$block} {
    display: table;
    height: em(500);
    max-height: 90vh;
    width: 100%;

    &__td {
        display: table-cell;
        position: relative;

        &--map {
            width: 75%;
        }
        &--box {
            width: 25%;
        }
    }
    &__map {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__infobox {
        background: $color-text;
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;

        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        &__inner {
            padding: em(90) 10% 0;
        }


        
        &__inner {
            padding-top: em(40);
            &--headline {
                @extend %h1-inner;
                margin: 0;
            }
            &--address {
                @extend %h2-inner;
                max-width: 4em;
                margin-left: 0;
                margin-right: 0;
            }
            &--phone {
                @extend %h2-inner;
                white-space: pre-line;
            }
        }
        &__loader {
            background: rgba(#ffffff, 0.7);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0s 0.3s;
            &__icon {
                position: absolute;
                top: 0;
                bottom: 0;
                width: em(32);
                height: em(32);
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        &__locations {
            &__location {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
        &.loading {
            #{$block}__infobox__loader {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.3s, visibility 0s;
            }
        }
        &.show {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.5s;
        }
    }
    /*
    @include mq($from: screen-sm) {
        &__infobox {
            padding-bottom: 28%;
            width: 22.3%;
        }
    }
    @include mq($until: $screen-lg + 100px) {
        &__infobox {
            height: 13em;
            position: relative;
            width: 100%;
            &__inner {
                max-width: 45em;
                &--headline {
                    font-size: 1.5em;
                }
            }
        }
    }*/
}


.section--maps {
    margin-top: 18.88rem;
    margin-bottom: 0.4rem;
}
