.owl-dots {
    margin: em(12) 0 em(20);
    text-align: center;
    @include mq($from: screen-sm) {
        display: none;
    }
}

.owl-dot {
    display: inline-block;
    font-size: em(18);
    width: 1em;
    height: 1em;
    margin: 0 em(4);
    border-radius: 50%;
    background-color: $color-light-grey;
    transition: background 0.2s;
    &.active, &:hover {
        background-color: $brand-primary;
    }
}

.owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: none;
    @include mq($from: screen-sm) {
        display: block;
    }
}

.owl-prev,
.owl-next {
    height: em(40);
    width: em(40);
    margin: auto 0;
    color: white;
    position: absolute;
    right: .5em;
    top: 0;
    bottom: 0;
    background: $color-white;
    border-radius: em(5);
    width: 3em;
    height: 3em;
    .icon {
        font-size: em(12);
        position: absolute;
        width: 1em;
        height: 1em;
        line-height: 1;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        color: $color-text;
        transition: all .2s;
        &:before {
            @extend %icon;
        }
    }
    
}

.owl-prev {
    top: 3.3em;
    .icon {
        @include icon(arrowleft);
    }
    &:hover {
        .icon {
            transform: translateX(-.3em);
        }
    }
}

.owl-next {
    top: -3.3em;
    .icon {
        @include icon(arrowright);
    }
    &:hover {
        .icon {
            transform: translateX(.3em);
        }
    }
}
