$block: ".section";
#{$block} {
    position: relative;
    z-index: 1;
    &--fullwidth {
        #{$block}__content {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &--action-box {
        padding: em(50) 0 em(100);
    }
    &--margin {
        margin: rem(60) 0;
    }
    &--yellow {
        background-color: $brand-primary;
    }
    &__content {
        @extend %section-content;
    }
}

#{$block}-container {
    position: relative;
}
