$block: '.section';
#{$block} {
    position: relative;
    z-index: 1;
    &--fullwidth {
        #{$block}__content {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
    // ### general ###
    // default
    &--margin-xs {
        margin: rem(50) 0;
    }
    &--margin-sm {
        margin: rem(100) 0;
    }
    &--margin-md {
        margin: rem(150) 0;
    }
    &--margin-xl {
        margin: rem(200) 0;
    }
    &--margin-xxl {
        margin: rem(250) 0;
    }
    &--margin-xxxl {
        margin: rem(400) 0;
    }
    &--margin {
        margin: rem(100) 0;
    }
    &--yellow {
        background-color: $brand-primary;
    }
    &__content {
        @extend %section-content;
        &--headline {
            margin-bottom: 1em;
        }
    }
    &--padding {
        padding: em(60) 0;
    }
}

#{$block}-container {
    position: relative;
}
