$padding-selectize: em(20);
.selectize-control {

    

    input {
        display: none !important;
    }
    &.single .selectize-input {
        background: #fff;
    }
    .selectize-input {
        position: relative;
        border-radius: em(5);
    }
    .option {
        cursor: pointer;
        transition: all 0.3s ease;
        &.selected {
            //display: none;
        }
        &:hover {
            background: $brand-primary;
        }
    }
    .selectize-input,
    .option {
        background: #fff;
        padding-left: $padding-selectize;
        padding-right: $padding-selectize;
        padding-top: em(18);
        padding-bottom: em(16);
        @extend %h-normal-bold;
        margin: 0;
        cursor: pointer;
    }
    .selectize-dropdown {
        font-size: 1em;
    }
}

.selectize-control.single .selectize-input.input-active {
    cursor: default;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
