$block: ".sidebar";
$sidebar-bg: $color-white;
$sidebar-fg: $color-text;
#{$block} {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    z-index: 0;
    padding-left: 10%;
    background: $brand-primary;
    @include mq($from: screen-xs) {
        padding-left: 40%;
    }
    @include mq($from: screen-sm) {
        padding-left: 50%;
    }
    &,
    &__content {
        background: $sidebar-bg;
        color: $sidebar-fg;
    }
    &__content {
        opacity: 0;
        transition: opacity 0.3s 0.6s;
        margin: 0 auto;
        padding-left: $side-padding;
        padding-right: $side-padding;
        box-sizing: content-box;
        @include clearfix;
        &--full {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__lang {
        margin-top: em(40);
    }
    &__page-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: $brand-primary;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: (opacity 0.3s 0.1s, visibility 0s 0.4s);
    }
    body.sidebar-open & {
        position: relative;
        width: auto;
        &__content {
            opacity: 1;
            transition: opacity 0.3s 0s;
        }
        @include mq($until: width-mobile-menu) {
            &__page-overlay {
                visibility: visible;
                opacity: 1;
                transition: (opacity 0.3s, visibility 0s);
            }
            .menu-burger {
                //display: block;
            }
        }
        //transition: transform 300ms $easeOutCubic;
    }
    @include mq($from: width-mobile-menu) {
        display: none;
    }
    .menu-burger {
        //display: none;
    }
    .menu-burger__bar {
        background: $color-text;
    }
}
