$block: ".site";
#{$block} {
    position: relative;
    overflow: hidden;
    transition: transform 300ms $easeInCubic;
    z-index: 1;
    background: #fff;
    body.site-fixed & {
        position: fixed;
        width: 100%;
        &:after {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            content: ' ';
        }
    }
    body.sidebar-open & {
        /*html.ie9up & {
            transform: translateX(-100%);
            transition: transform 300ms $easeOutCubic;
            @include mq($from: screen-xs) {
                transform: translateX(-60%);
            }
            @include mq($from: screen-sm) {
                transform: translateX(-50%);
            }
            @include mq($from: width-mobile-menu) {
                transform: translateX(0);
                position: relative;
            }
        }
        html.ie9 & {
            left: -100%;
            @include mq($from: screen-xs) {
                left: -60%;
            }
            @include mq($from: screen-sm) {
                left: -50%;
            }
            @include mq($from: width-mobile-menu) {
                left: 0%;
                position: relative;
            }
        }*/
        transform: translateX(-100%);
        @include mq($from: screen-xs) {
            transform: translateX(-70%);
        }
        @include mq($from: screen-sm) {
            transform: translateX(-50%);
        }
        @include mq($from: width-mobile-menu) {
            transform: translateX(0);
            position: relative;
        }
    }
}
