$block: ".site-navigation";
#{$block} {
    margin-top: 40px;
    &__list {
        font-family: $font-normal;
        text-transform: uppercase;
        font-size: em(16);
        font-weight: bold;
        margin-top: em(60);
        &__item {
            @extend %section-content;
            float: right;
            padding: 0 0 0 em(40);
        }
    }
    @include mq($until: width-mobile-menu) {
        display: none;
    }
}
