$block: ".site-navigation";
#{$block} {
    margin-top: 40px;
    &__list {
        
        margin-top: em(60);
        @include clearfix;
        &__item {
            float: right;
            padding-left: em(40);
            a {
                font-size: em(14);
                font-weight: bold;
                text-transform: uppercase;
            }
            
        }
    }
    @include mq($until: width-mobile-menu) {
        display: none;
    }
}
