$block: ".site-header";
#{$block} {
    position: fixed;
    z-index: 10;
    background: #fff;
    width: 100%;
    height: $height-header;
    top: 0;


    &__inner {
    	position: relative;
    	@include clearfix;
    }

    &__left {
    	float: left;
    }
    &__right {
    	float: right;
    }
}
