html,
body {
    height: 100%;
}

body {
    font-family: $font-normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong,
.strong,
b {
    font-weight: bold;
}

p {
    margin-bottom: 0.8em;
}
