html,
body {
    height: 100%;
}

body {
    font-family: $font-normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-text-base;
}

strong,
.strong,
b {
    font-weight: bold;
}

p {
    margin-bottom: .8em;
}

.main {
    margin-top: $height-header;
}

.primary-color {
    color: $brand-primary;
}

.subtitle {
    color: $color-grey;
    font-weight: bold;
}

.menu-burger {
    margin-top: em(30);
}

.centertext {
    text-align: center;
}

.lefttext {
    h3 {
        margin-left: 0;
    }
}

.whitebox-top {
    background: $color-white;
    height: 3em;
    width: 100%;
    margin-bottom: -1.3em;
    z-index: 1;
}

.whitebox-bottom {
    background: $color-white;
    height: 3em;
    width: 100%;
    margin-top: -2em;
}
