html,
body {
    height: 100%;
}

body {
    font-family: $font-normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-text-base;
}

strong,
.strong,
b {
    font-weight: bold;
}

.main {
    margin-top: $height-header;
}

.symbols {
  font-size: em(8);
  vertical-align: top;
}
