@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont/iconfont.eot');
	src: url('../fonts/iconfont/iconfont.eot?#iefix') format('eot'),
		url('../fonts/iconfont/iconfont.woff') format('woff'),
		url('../fonts/iconfont/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont/iconfont.svg#iconfont') format('svg');
}

%icon {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: inline-block;
	line-height: 1;

}

.icon:before{
	@extend %icon;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == Entwicklung {
		$char: "\E001";
	}
	@if $filename == Service {
		$char: "\E002";
	}
	@if $filename == Siconnex {
		$char: "\E003";
	}
	@if $filename == Vorteile {
		$char: "\E004";
	}
	@if $filename == arrow-left {
		$char: "\E005";
	}
	@if $filename == arrow-right {
		$char: "\E006";
	}
	@if $filename == arrowdown {
		$char: "\E007";
	}
	@if $filename == arrowleft {
		$char: "\E008";
	}
	@if $filename == arrowright {
		$char: "\E009";
	}
	@if $filename == arrowup {
		$char: "\E00A";
	}
	@if $filename == batchspray-acid {
		$char: "\E00B";
	}
	@if $filename == batchspray-autoload {
		$char: "\E00C";
	}
	@if $filename == batchspray-solvent {
		$char: "\E00D";
	}
	@if $filename == facebook {
		$char: "\E00E";
	}
	@if $filename == language {
		$char: "\E00F";
	}
	@if $filename == linkedin {
		$char: "\E010";
	}
	@if $filename == menu-arrow-down {
		$char: "\E011";
	}
	@if $filename == pin {
		$char: "\E012";
	}
	@if $filename == siconnex-logo-quer {
		$char: "\E013";
	}
	@if $filename == xing {
		$char: "\E014";
	}

	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		content: icon-char($filename);
	}
}

.icon-Entwicklung {
	@include icon(Entwicklung);
}
.icon-Service {
	@include icon(Service);
}
.icon-Siconnex {
	@include icon(Siconnex);
}
.icon-Vorteile {
	@include icon(Vorteile);
}
.icon-arrow-left {
	@include icon(arrow-left);
}
.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-arrowdown {
	@include icon(arrowdown);
}
.icon-arrowleft {
	@include icon(arrowleft);
}
.icon-arrowright {
	@include icon(arrowright);
}
.icon-arrowup {
	@include icon(arrowup);
}
.icon-batchspray-acid {
	@include icon(batchspray-acid);
}
.icon-batchspray-autoload {
	@include icon(batchspray-autoload);
}
.icon-batchspray-solvent {
	@include icon(batchspray-solvent);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-language {
	@include icon(language);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-menu-arrow-down {
	@include icon(menu-arrow-down);
}
.icon-pin {
	@include icon(pin);
}
.icon-siconnex-logo-quer {
	@include icon(siconnex-logo-quer);
}
.icon-xing {
	@include icon(xing);
}