// HEADLINES
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
}

%h1 {
    font-family: $font-headline;
    font-size: em(48);
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.3em;
}

%h1-inner {
    font-family: $font-headline;
    font-size: em(33);
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: em(10);
    text-align: center;

    @include mq($from: screen-sm) {
        font-size: em(36);
    }
    @include mq($from: screen-md) {
        font-size: em(39);
    }
    @include mq($from: screen-lg) {
        font-size: em(42);
    }
    @include mq($from: screen-xl) {
        font-size: em(46);
    }
    @include mq($from: screen-xxl) {
        font-size: em(48);
    }
}

%h2 {
    font-family: $font-normal;
    font-size: em(22);
    font-weight: normal;
    line-height: 1.2em;
}

%h2-inner {
    font-family: $font-normal;
    font-size: em(21);
    font-weight: normal;
    line-height: 1.2em;
    margin: em(20) auto em(25) auto;
    @include mq($from: screen-sm) {
        font-size: em(20);
    }
    @include mq($from: screen-md) {
        font-size: em(19);
        max-width: 40em;
    }
    @include mq($from: screen-lg) {
        font-size: em(18);
    }
    @include mq($from: screen-xl) {
        font-size: em(17);
    }
    @include mq($from: screen-xxl) {
        font-size: em(16);
    }
}

%h3 {
    font-size: em(15);
    margin: 0 0 em(20) 0;
}

%h4 {
    font-family: $font-normal;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5em;
    margin: em(25) 0 em(20) 0;
}

%h5 {
    font-family: $font-normal;
    font-size: em(18.5);
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: em(20);
}

%h6 {
    // font-size: 1;
}

%text-base {
    font-family: $font-normal;
    line-height: 1.65em;
    font-size: em(18);
}

%section-content {
    margin: 0 auto;
    padding-left: $side-padding;
    padding-right: $side-padding;
    box-sizing: content-box;
    max-width: $width-max-container;
    @include clearfix;
}

// Maps
%h-mini-bold {
    font-size: em(20);
    font-weight: bold;
    line-height: 1.06;
    margin-bottom: em(9);
}

%h-pre {
    font-size: em(13);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 0.8em;
    letter-spacing: 0.1em;
}

%h-normal-bold {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: em(9);
}

%quicklink-button {
    @extend %quicklink;
    @extend %button;
    padding-left: em(35);
    &:hover,
    &:focus,
    &:active {
        &:before {
            color: #000;
        }
    }
}

%quicklink {
    @extend %miniuppertext;
    position: relative;
    padding-left: em(35);
    display: inline-block;
    white-space: nowrap;
    letter-spacing: 0.05em;
    @include icon(arrowright, before);
    &:before {
        @extend %icon;
        color: $brand-primary;
        position: absolute;
        left: em(10);
    }
}

%button {
    display: inline-block;
    position: relative;
    line-height: 1;
    padding: em(17) em(20) em(15);
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    @extend %miniuppertext;
    > i,
    > span {
        vertical-align: middle;
    }
    > i {
        position: relative;
        top: 0;
        bottom: 0;
        line-height: 1;
        height: 1em;
        margin: auto 0;
        color: $brand-primary;
        padding-right: em(10);
    }
    > span {
        line-height: 1;
        display: inline-block;
    }
    &:hover,
    &:focus,
    &:active {
        background: $brand-primary;
        color: #000;
        > i {
            color: #000;
        }
    }
}

%miniuppertext {
    font-weight: bold;
    text-transform: uppercase;
    font-size: em(13);
}

%lefttext {
    margin-left: 0;
}
