// HEADLINES
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
}


%h1 {
    font-size: em(50);
    font-weight: bold;
    line-height: 0.85;
}

%h2 {
    font-size: em(20);
}

%h3 {
    font-size: em(15);
}

%h4 {
    
}

%h5 {
   font-size: 1;
}

%h6 {
    font-size: 1;
}

%text-base {
    font-family: $font-normal;
    line-height: 1.65;
    font-size: em(18);
}


%section-content {
	margin: 0 auto;
    padding-left: $side-padding;
    padding-right: $side-padding;
    box-sizing: content-box;
    max-width: $width-max-container;
    @include clearfix;
}