// HEADLINES
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
}

%h1 {
    font-family: $font-headline;
    font-size: em(48);
    font-weight: bold;
    line-height: 1em;
}

%h2 {
    font-family: $font-normal;
    font-size: em(24);
    font-weight: bold;
    line-height: 1em;
    margin: 20px auto 25px auto;
}

%h3 {
    font-size: em(15);
    width: 40%;
    margin: 0 auto 20px auto;
}

%h4 {
    font-family: $font-normal;
    font-size: em(24);
    font-weight: bold;
    line-height: 1em;
    margin: 25px auto 20px auto;
}

%h5 {
    font-family: $font-normal;
    font-size: em(14);
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 20px;
}

%h6 {
    // font-size: 1;
}

%text-base {
    font-family: $font-normal;
    line-height: 1.65em;
    font-size: em(18);
}

%section-content {
    margin: 0 auto;
    padding-left: $side-padding;
    padding-right: $side-padding;
    box-sizing: content-box;
    max-width: $width-max-container;
    @include clearfix;
}

// Maps
%h-mini-bold {
    font-size: em(20);
    font-weight: bold;
    line-height: 1.06;
    margin-bottom: em(9);
}

%h-pre {
    font-size: em(13);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 0.8em;
    letter-spacing: 0.1em;
}

%h-normal-bold {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: em(9);
}