
@font-face {
    font-family: "Akkurat";
    src:url("../fonts/Akkurat/lineto-akkurat-regular.eot");
    src:url("../fonts/Akkurat/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Akkurat/lineto-akkurat-regular.woff2") format("woff2"),
        url("../fonts/Akkurat/lineto-akkurat-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat";
    src:url("../fonts/Akkurat/lineto-akkurat-light.eot");
    src:url("../fonts/Akkurat/lineto-akkurat-light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Akkurat/lineto-akkurat-light.woff2") format("woff2"),
        url("../fonts/Akkurat/lineto-akkurat-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat";
    src:url("../fonts/Akkurat/lineto-akkurat-bold.eot");
    src:url("../fonts/Akkurat/lineto-akkurat-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Akkurat/lineto-akkurat-bold.woff2") format("woff2"),
        url("../fonts/Akkurat/lineto-akkurat-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}